* {
    margin: 0;
}
.header {
   display: grid;
   background-color: #011534;
   position: fixed;
   top: 0;
   width: 100%;
}

.header img {
    width: 50px;
}
.hero img {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns:repeat(auto-fit, 250px);
    grid-auto-rows: auto;
    gap: 10px;
    width: 100%;
    padding: 10px;
} 



.card {
    display: grid;
    grid-template-rows: 1fr auto auto;
   
    grid-gap: 5x;
    border: 1px solid black;
    border-radius: 10px ;
}
.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card p {
    max-width: 90%;
    text-align: center;
}


.footer {
    display: grid;
    background-color: #011534;
    color: white;
    padding: 10px;
    

}